.result {
  width: 100%;
  background-color: white;
  padding: 1.3rem;
  text-align: left;
  border-radius: 5px;
  font-weight: 700;
  transition: all 0.5s ease;
}
.result__span {
  font-weight: 400;
  color: rgb(26, 25, 25);
}
.result p[data-validar='error'] {
  color: rgb(211, 16, 16);
}
.result p[data-validar='valido'] {
  color: rgb(66, 171, 10);
  margin-bottom: 5px;
}
